<%- include('sidebar.ejs',{home:home}) %>


    <!--=================== content body ====================-->
    <div class="col-lg-10 col-md-9 col-12 body_block align-content-center">
        <h1>
            About
        </h1>
    </div>
    <!--=================== content body end ====================-->
    </div>
    </div>
    </body>
    <!-- jquery -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="assets/js/slick.min.js"></script>
    <!--Portfolio Filter-->
    <script src="assets/js/imgloaded.js"></script>
    <script src="assets/js/isotope.js"></script>
    <!-- Magnific-popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <!--Counter-->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="assets/js/main.js"></script>